<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>SupportWeb</display-name>
	<description>
		WebSphere Application Server: Support tools Copyright (c)
		2003-2022, Tanaka Takakiyo (takakiyo@jp.ibm.com)
	</description>
	<distributable />
	<servlet>
		<servlet-name>ClassInfoDumper</servlet-name>
		<display-name>ClassInfoDumper</display-name>
		<servlet-class>
			com.ibm.jp.support.classinfo.ClassInfoDumper
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LookupTest</servlet-name>
		<display-name>LookupTest</display-name>
		<servlet-class>
			com.ibm.jp.support.jndi.LookupTest
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowThreadsServlet</servlet-name>
		<display-name>ShowThreadsServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.ShowThreadsServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HeapWatchServlet</servlet-name>
		<display-name>HeapWatchServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.heap.HeapWatchServlet
		</servlet-class>
		<!-- load-on-startup>-1</load-on-startup -->
	</servlet>
	<servlet>
		<servlet-name>SystemPropertiesServlet</servlet-name>
		<display-name>SystemPropertiesServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.SystemPropertiesServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OsInfoServlet</servlet-name>
		<display-name>OsInfoServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.os.OsInfoServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EncodeTestServlet</servlet-name>
		<display-name>EncodeTestServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.http.EncodeTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThreadDumpServlet</servlet-name>
		<display-name>ThreadDumpServlet</display-name>
		<servlet-class>
			com.ibm.jp.support.ThreadDumpServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendErrorTestServlet</servlet-name>
		<display-name>SendErrorTestServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.http.SendErrorTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateJavaDumpServlet</servlet-name>
		<display-name>CreateJavaDumpServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.ibmjdk.CreateJavaDumpServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SnoopServlet</servlet-name>
		<display-name>SnoopServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.http.SnoopServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MBeanServerInfoServlet</servlet-name>
		<display-name>MBeanServerInfoServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.jmx.MBeanServerInfoServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MBeanInfoServlet</servlet-name>
		<display-name>MBeanInfoServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.jmx.MBeanInfoServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetCookieServlet</servlet-name>
		<display-name>SetCookieServlet</display-name>
		<description></description>
		<servlet-class>
			com.ibm.jp.support.http.SetCookieServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OsEnvServlet</servlet-name>
		<display-name>OsEnvServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.jp.support.os.OsEnvServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LongResponseServlet</servlet-name>
		<display-name>LongResponseServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.jp.support.http.LongResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CpuLoadServlet</servlet-name>
		<display-name>CpuLoadServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.jp.support.os.CpuLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SigsegvServlet</servlet-name>
		<display-name>SigsegvServlet</display-name>
		<description></description>
		<servlet-class>com.ibm.jp.support.os.SigsegvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassInfoDumper</servlet-name>
		<url-pattern>/classInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LookupTest</servlet-name>
		<url-pattern>/jndiLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowThreadsServlet</servlet-name>
		<url-pattern>/showThreads</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HeapWatchServlet</servlet-name>
		<url-pattern>/heapWatcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemPropertiesServlet</servlet-name>
		<url-pattern>/systemProperties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsInfoServlet</servlet-name>
		<url-pattern>/osInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EncodeTestServlet</servlet-name>
		<url-pattern>/encodingTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThreadDumpServlet</servlet-name>
		<url-pattern>/threadDump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendErrorTestServlet</servlet-name>
		<url-pattern>/sendErrorTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateJavaDumpServlet</servlet-name>
		<url-pattern>/javaDump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SnoopServlet</servlet-name>
		<url-pattern>/snoop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MBeanServerInfoServlet</servlet-name>
		<url-pattern>/mbeanServerInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MBeanInfoServlet</servlet-name>
		<url-pattern>/mbeanInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetCookieServlet</servlet-name>
		<url-pattern>/setCookie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OsEnvServlet</servlet-name>
		<url-pattern>/osEnv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LongResponseServlet</servlet-name>
		<url-pattern>/longResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CpuLoadServlet</servlet-name>
		<url-pattern>/cpuload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SigsegvServlet</servlet-name>
		<url-pattern>/sigsegv</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
